// Typography basics

$font-light:    100;  // Geometria Extra Light
$font-regular:  300;  // Geometria Light
$font-bold:     500;  // Geometria Regular
$font-black:    800;  // Geometria Heavy

@import "fonts/geometria";


// Bootstrap components
$border-radius-base:  2px;
$border-radius-large: $border-radius-base;
$border-radius-small: $border-radius-base;

// Bootstrap typography
$font-family-sans-serif: "Geometria", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 15px;
$headings-font-weight: $font-light;

@import "bootstrap";



/* mixins, variables, etc. */

@mixin box_sizing {
  box-sizing: border-box;
}



/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1 {
  //font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

input, button {
  // Fix visual shift with Geometria font
  padding-top: $padding-large-vertical + 2px !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
